*{
  margin: 0px;
  padding: 0px;
}
.logo {
  padding-left: 100px;
  width: 200px;
}
.va1{
  background-color: darkorange;
  border-radius: 7%;
  background-color: darkorange;
  color: white;
}
.ca1{
  font-size: large;
}
.text {
  font-size: larger;
  /* padding: 0% 25% 0% 25%; */
  justify-content: space-around;
  letter-spacing: 6px;
}

.s1 {
  color: darkorange;
}

.bg1 {
  background-color: blue;
  width: 100%;
  color: antiquewhite;
  height: 300px;
  padding-top: 100px;
}
.dq2{
 padding-bottom: 50px;
}

.d1{
  color:darkorange;
}
.cs1{
  color: white;
  background-color: blue;
  height: 200px;
  width: 100%;
  padding-top: 30px;
}
